body {
margin:0;
font-family: 'Asap';
}

.gridcontainer {
display:grid;
}

.header {
grid-area:h;
}

.topBar{
padding:5px;
box-shadow:0 0 2px 2px #888888;
}

.dropdownMenu{
display:inline-block;
float:right;
}

.dropdownBtn{
display:none;
}

.list{
display:inline-block;
}

.list div{
display:inline-block;
color: black;
text-decoration:none;
padding:5px;
margin:5px;
}

.logo{
max-width:70px;
display:inline-block;
}

.img1{
width:100%;
}

.search{
display:inline-block;
padding:20px;
width:30%;
text-align:center;
}

.searchInput{

}

.Categories{
grid-area:cat;
background-color:white;
margin:10px 5px 0 5px;
}

.heading{
padding:1px 15px 1px 15px;
font-size:1.5rem;
}

.flexcontainer{
grid-area:c;
display :flex;
flex-wrap:wrap;
}

.drug{
width:18vw;
height:18vw;
margin:1vw;
padding:5px;
background-color:#e1f5fe;
}

.drugPic{
height:auto;
padding:5px;
margin:0 auto 5px auto;
}

.img2{
max-width:90%;
display:block;
margin:0 auto 5px auto;
}

.drugDiscrpt{
font-size:0.8rem;
text-align:center;
margin:0 auto 5px auto;
}

.price{

text-align:center;
margin:0 auto 5px auto;
}

.buy{
margin:0 auto 5px auto;
}

.addCart{
border-radius:7px;
background-color:#0D47A1;
display:block;
width:auto;
height:30px;
margin:0 auto 5px auto;
border:solid 1px #0D47A1;
color:white;
}

.shopcart{
max-height:50px;
max-width:50px;
border-radius:25px;
}

.footer{
grid-area:f;
}

.item{
padding:5px;
}
.cat{
color:black;
text-decoration:none;
padding:2px;
display:inline-block;
}

.ad{
margin:10px;
grid-area:a;
}

.flyer{
width:100%;
margin:auto;
}

.order{
position:fixed;
right:5px;
bottom:5px;
background-color:green;
max-height:50px;
max-width:50px;
border-radius:25px;
}



.footer{
background-color:black;
color:white;
padding:10px;
}

.cart{
display:none;
position:fixed;
z-index:10;
width:auto;
height:80vh;
overflow:scroll;
padding:10px;
background-color:white;
border:solid 1px black;
top:10px;
right:5vw;
left:5vw;
}

.showcart{
display:block;
}

.cartheading{
font-size:2rem;
margin:5px auto 5px auto;
width:50%;
text-align:center;
}

.cartlist{
display:block;
width:100%;
margin:0 auto 0 auto;
text-align:center;
}

#quan{
position:fixed;
right:5px;
bottom:40px;
padding:0.2rem;
border-radius:0.6rem;
display:inline-block;
background-color:red;
color:white;
z-index:50;
}

#cart_table{
display:block;
width:auto;
margin:0 auto 0 auto;
}

.cartlogo{
height:2rem;
margin:2px
display:inline-block;
}

.close{
display:inline-block;
float:right;
}

.bar21{
height:2px;
background-color:#0D47A1;
border-radius:1px;
-webkit-border-radius:1px;
-moz-border-radius:1px;
margin:4px;
transform-origin:0 50%;
transform:rotate(45deg);
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
width:17px;
}

.bar22{
height:2px;
background-color:#0D47A1;
border-radius:1px;
-webkit-border-radius:1px;
-moz-border-radius:1px;
margin:4px;
opacity:0;
}

.bar23{
height:2px;
background-color:#0D47A1;
border-radius:1px;
-webkit-border-radius:1px;
-moz-border-radius:1px;
margin:4px;
transform-origin:0 50%;
transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
width:17px;
}

.amount{
text-align:center;
}

.ratenum{
display:table-cell;
padding:5px;
text-align:center;
vertical-align:middle;
width:3rem;
}

.btn{
display:table-cell;
width:50%;
}

.plus{
display:block;
color:white;
background-color:#0D47A1;
width:2rem;
height:;
border-radius:5px;
border : solid 1px #0D47A1;
margin:1px;
}

.minus{
margin:1px;
display:block;
color:white;
background-color:#0D47A1;
width:2rem;
height:;
border-radius:5px;
border : solid 1px #0D47A1;
}

.place_order{
margin:50px;
}

#orderButton{
border-radius:7px;
background-color:#0D47A1;
display:block;
height:30px;
margin:0 auto 5px auto;
border:solid 1px #0D47A1;
color:white;
}

/* smart phones */
@media all and (min-width:0px) and (max-width: 768px){
.gridcontainer{
grid-template-areas:'h h h'
		    'a a a'
		    'cat cat cat'
		    'c c c'
		    'f f f';
grid-auto-columns:33.3333%;
}

.drug{
width:45vw;
height:auto;
margin:1vw;
padding:5px;
background-color:#f9f9f9;
}

.categoryList{
display:none;
}

.heading{
color:white;
display:inline-block;
padding:1px 15px 1px 15px;
border-radius:5px;
background-color:#0d47a1;
color:white;
}

.showcategoryList{
display:grid;
grid-template-columns:50vw 50vw;
z-index:2;
background-color:white;
box-shadow:0 1px 1px 1px #888888;
}

.dropdownMenu{
transition:margin 0.2s ease-out;
}

.slide{
margin:0px 135px 0px 10px;
}

.drpdwnBtn{
float:left;
padding:10px;
margin:0px 10px 0px 10px;
width:20px;
}

.drpdwnbtn:hover{
background-color:#eeeeee;
}

.bar1, .bar2, .bar3 {
width:14px;
height:2px;
background-color:#0d47a1;
border-radius:1px;
-webkit-border-radius:1px;
-moz-border-radius:1px;
margin:4px;
transition:0.1s;
}



.dropdown-content{
display:none;
background-color:#ffffff;
z-index:1;
width:200px;
box-shadow:0 0 1px 0 #888888;
}

.dropdown-content a{
text-decoration:none;
}

.list{
display:block;
color:black;
margin:0;
}

.list:hover{
background-color:#000000;
color:#ffffff;
}

.list div{
padding:10px;
}

.show{
display:block;
position:absolute;
top:47px;

}

.change .bar1{
transform-origin:0 50%;
transform:rotate(45deg);
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
width:17px;
}

.change .bar2{
opacity:0;
}


.change .bar3{
transform-origin:0 50%;
transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
width:17px;
}




}



/* tablets */
@media all and (min-width:769px) and (max-width:1279px){
.gridcontainer{
grid-template-areas:'h h h'
		    'cat a a'
		    'cat c c'
		    'f f f';
grid-auto-columns:33.3333%;
}



.drug{
width:30vw;
height:auto;
margin:1vw;
padding:5px;
background-color:#f9f9f9;
}

.Categories{
grid-area:cat;
background-color:white;
margin:10px 5px 0 0;
box-shadow:0 0 2px 0 #888888;
}

}




/* */
@media all and (min-width:1280px){
.gridcontainer{
grid-template-areas:'h h h h h h'
		    'cat a a a a a'
		    'cat c c c c c'
		    'f f f f f f';
grid-auto-columns:16.6666%;	
}

.drug{
width:18vw;
height:auto;
margin:0.5vw;
padding:5px;
background-color:#f9f9f9;
}

.Categories{
grid-area:cat;
background-color:white;
margin:10px 5px 0 0;
box-shadow:0 0 2px 0 #888888;
}

}




