body{
margin:0;
font-family:Sans-serif;
}

header{
position:fixed;
top:0;
left:0;
}

.container{

}

#orderButton{
z-index:50;
}

.cart{
position:fixed;
z-index:20;
top:0;
background-color:white;
display:none;
}

.close1{
display:inline-block;
float:right;
}

.bar21{
height:2px;
background-color:#332c4a;
border-radius:1px;
-webkit-border-radius:1px;
-moz-border-radius:1px;
margin:4px;
transform-origin:0 50%;
transform:rotate(45deg);
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
width:17px;
}

.bar22{
height:2px;
background-color:#332c4a;
border-radius:1px;
-webkit-border-radius:1px;
-moz-border-radius:1px;
margin:4px;
opacity:0;
}

.bar23{
height:2px;
background-color:#332c4a;
border-radius:1px;
-webkit-border-radius:1px;
-moz-border-radius:1px;
margin:4px;
transform-origin:0 50%;
transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
width:17px;
}

.cartheading{
font-size:2rem;
margin:5px auto 5px auto;
width:50%;
text-align:center;
}

.cartlogo{
width:2rem;
}

.amount{
text-align:center;
}

.ratenum{
display:table-cell;
padding:5px;
text-align:center;
vertical-align:middle;
width:3rem;
}

.btn{
display:table-cell;
width:50%;
}

.plus{
display:block;
color:white;
background-color:#03c3eb;
width:2rem;
height:;
border-radius:5px;
border : solid 1px #03c3eb;
margin:1px;
}

.minus{
margin:1px;
display:block;
color:white;
background-color:#03c3eb;
width:2rem;
height:;
border-radius:5px;
border : solid 1px #03c3eb;
}

.place_order{
margin:50px;
}

#orderButton{
border-radius:7px;
background-color:#03c3eb;
display:block;
height:30px;
margin:0 auto 5px auto;
border:solid 1px #03c3eb;
color:white;
}


/*Breakpoint 1: Mobile Phone*/
@media all and (min-width:0px) and (max-width: 767px){

header{
height:10vw;
width:90vw;
padding:5vw;
border-bottom:solid 1px black;
background-color:white;
z-index:4;
}

.logo{
height:70%;
display:inline-block;
}

.rantijr-logo{
height:100%;
}

.float-sol{
float:right;
height:100%;
}

.cart{
width:100vw;
height:100vh;
}

.icon{
height:70%;
width:10vw;
margin-right:5vw;
display:inline-block;
position:relative;
text-align:center;
}

.shopping-cart{
height:100%;
}

.cart-num{
position:absolute;
top:0;
left:0;
background-color:red;
color:white;
font-size:2.5vw;
font-weight:bold;
height:1.5vw;
min-width:1.5vw;
padding:1vw;
text-align:center;
border-radius:1.5vw;
}

.menu{
display:inline-block;
}

.container{
margin-top:20vw;
}

.aside1{
width:100%;
border-bottom:solid 1px black;
}

.search{
display:table-cell;
width:100vw;
height:13vw;
vertical-align:middle;
text-align:center;
}

.search-bar{
height:6.7vw;
border:solid 1px #03c3eb;
}

.search-button{
display:inline-block;
vertical-align:bottom;
height:6vw;
width:6vw;
background-color:#03c3eb;
padding:0.7vw;
border:solid 1px #03c3eb;
}

.search-icon{
width:100%;
vertical-align:baseline;
}

.pop-categories{
display:none;
}

.banner-ad{
height:20vw;
text-align:center;
margin-top:2vw;
}

.banner-ad-desktop{
display:none;
}

.banner-ad-mobile{
height:100%;
}

.drugs-by-category{
width:100%;
margin-top:4vw;
}

.category-set{
width:90vw;
margin:5vw auto 0 auto;
}

.category-name{
font-size:4vw;
font-weight:bolder;
}

.drugs{
position:relative;
height:38vw;
overflow-y:auto;
white-space:nowrap;
}

.btn-prev{
position:absolute;
left:0;
top:0;
height:100%;
}

.drug{
width:28vw;
height:34vw;
display:inline-block;
background-color:#fefefe;
}

.drug-photo{
width:17vw;
height:17vw;
margin:1vw auto 0 auto;
}

.drug-img{
width:100%;
}

.drug-name{
font-size:3vw;
text-align:center;
}

.drug-price{
font-size:2.5vw;
text-align:center;
}

.order-button{
font-size:2.5vw;
text-align:center;
width:19vw;
height:3.7vw;
line-height:3.7vw;
margin:1vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}

.add-to-cart{
font-size:2.5vw;
text-align:center;
width:19vw;
height:3.7vw;
line-height:3.7vw;
margin:1vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}

.faq{
margin-top:10vw;
}

.qas{
width:85vw;
margin:2vw auto 0 auto;
border:solid 1px #03c3eb;
box-shadow:0 0 1px 1px #cccccc;
}

.qa{
padding:1vw;
border-bottom:solid 1px #03c3eb;
}

.q{
font-size:1rem;
font-weight:bold;
color:#03c3eb;
}

.a{
margin-top:3vw;
display:none;
}

.dropdown{
float:right;
margin-right:5vw;
cursor:pointer;
}
.faq-heading{
margin-left:5vw;
margin-top:5vw;
font-size:1.5rem;
font-weight:bolder;
}

hr{background-color:#332c4a;}
h3{color:#332c4a;}

.blog-posts{
margin-top:10vw;
}

.blog-post{
display:inline-block;
width:40vw;
height:35vw;
border:solid 1px #03c3eb;
margin:1vw 2vw 5vw 2vw;
}

.post{
width:100%;
}

.post-image{
width:100%;
}

.post-name{
font-size:4vw;
}

.read-article{
color:#332c4a;
font-weight:bold;
}

footer{
background-color:black;
text-align:center;
color:white;
}

.footer-content{
padding:2vw;
}

.name{
margin:3vw auto 0 auto;
width:40vw;
}

.image-name{
width:100%;
}

.social{
margin-top:1vw;
}

.facebook{
display:inline-block;
width:4vw;
margin:0 1vw;
}

.social-name{
width:100%;
}


.added, .msg{
padding:1vw;
position:fixed;
top:40vh;
left:25vw;
width:50vw;
background-color:white;
border:solid 1px #03c3eb;
}

.close-added, .close-msg{
font-size:2.5vw;
text-align:center;
width:19vw;
height:3.7vw;
line-height:3.7vw;
margin:1vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}


}


/*Breakpoint 2: Tablets*/
@media all and (min-width:768px) and (max-width:1023px){
header{
height:4vw;
width:98vw;
padding:1vw;
border-bottom:solid 1px black;
background-color:white;
z-index:4;
}

.logo{
height:70%;
display:inline-block;
}

.rantijr-logo{
height:100%;
}

.float-sol{
float:right;
height:100%;
}

.cart{
width:60vw;
height:100vh;
left:20vw;
border:solid 1px #03c3eb;
}

.icon{
height:60%;
margin-right:2vw;
display:inline-block;
position:relative;
text-align:center;
}

.shopping-cart{
height:100%;
}

.cart-num{
position:absolute;
top:0;
left:0;
background-color:red;
color:white;
font-size:0.7vw;
font-weight:bold;
height:1vw;
min-width:1vw;
text-align:center;
border-radius:0.35vw;
line-height:1vw;
}

.menu{
display:inline-block;
}

.container{
margin-top:6vw;
display:grid;
width:100vw;
grid-template-areas:'a a d d d d d d d d bp bp'
                    'a a d d d d d d d d bp bp'
                    'a a d d d d d d d d bp bp'
                    '. . d d d d d d d d bp bp'
                    'f f f f f f f f f f bp bp';
grid-auto-columns:9% 9% 8% 8% 8% 8% 8% 8% 8% 8% 9% 9%;
}

.aside1{
grid-area:a;
border-bottom:solid 1px #03c3eb;
border-right:solid 1px #03c3eb;

}

.search{
height:2vw;
margin-top:1vw;
margin-left:1vw;
}

.search-bar{
height:2vw;
width:12vw;
border:solid 1px #03c3eb;
}

.search-button{
height:1.8vw;
width:1.8vw;
background-color:#03c3eb;
display:inline-block;
vertical-align:middle;
padding:0.2vw;
}

.search-icon{
height:100%;
}

.pop-categories{
margin-left:1vw;
margin-top:1vw;
margin-bottom:1vw;
}

.pop-cat-heading{
font-size:1.7vw;
font-weight:bold;
margin:2vw 0;
}

.pop-cat-item{
margin:0.3vw 0;
color:#332c4a;
}

.banner-ad{
grid-area:b;
}

.banner-ad-desktop{
width:100%;
}

.banner-ad-mobile{
display:none;
}

.drugs-by-category{
grid-area:d;
width:100%;
margin-top:3vw;
}

.category-set{
width:90%;
margin:5vw auto 0 auto;
}

.category-name{
font-size:1vw;
font-weight:bolder;
}

.drugs{
position:relative;
}

.drug{
width:9.1vw;
height:11.05vw;
display:inline-block;
background-color:#fefefe;
}

.drug-photo{
width:5.525vw;
height:5.525vw;
margin:0.325vw auto 0 auto;
}

.drug-img{
width:100%;
}

.drug-name{
font-size:0.975vw;
text-align:center;
}

.drug-price{
font-size:0.8125vw;
text-align:center;
}

.order-button{
font-size:0.8125vw;
text-align:center;
width:6.175vw;
height:1.2025vw;
line-height:1.2025vw;
margin:0.25vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}

.add-to-cart{
font-size:0.8125vw;
text-align:center;
width:6.175vw;
height:1.2025vw;
line-height:1.2025vw;
margin:0.25vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}

.blog-posts{
grid-area:bp;
background-color:#03c3eb;
color:white;
}

.blog-post{
display:inline-block;
width:12vw;
height:10vw;
border:solid 1px #03c3eb;
margin:1vw;
background-color:#03c3eb10;
}

.post{
width:100%;
}

.post-image{
width:100%;
}

.post-name{
font-size:1vw;
}

.read-article{
color:#black;
font-weight:bold;
}

.faq{
grid-area:f;
}

.qas{
width:70vw;
margin:2vw auto 0 auto;
border:solid 1px #03c3eb;
box-shadow:0 0 1px 1px #cccccc;
}

.qa{
padding:1vw;
border-bottom:solid 1px #03c3eb;
}

.q{
font-size:1.2rem;
font-weight:bold;
color:#03c3eb;
}

.a{
margin-top:1vw;
display:none;
}

.dropdown{
float:right;
margin-right:5vw;
cursor:pointer;
}
.faq-heading{
margin-left:5vw;
margin-top:5vw;
font-size:1.5rem;
font-weight:bolder;
}


footer{
background-color:black;
text-align:center;
color:white;
}

.footer-content{
padding:2vw;
}

.name{
margin:3vw auto 0 auto;
width:20vw;
}

.image-name{
width:100%;
}

.social{
margin-top:1vw;
}

.facebook{
display:inline-block;
width:4vw;
margin:0 1vw;
}

.social-name{
width:100%;
}

.added, .msg{
padding:1vw;
position:fixed;
top:40vh;
left:39vw;
width:20vw;
background-color:white;
border:solid 1px #03c3eb;

}

.close-added, .close-msg{
font-size:0.8125vw;
text-align:center;
width:6.175vw;
height:1.2025vw;
line-height:1.2025vw;
margin:0.25vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}


}




/*Breakpoint 3: Laptop And Desktop*/
@media all and (min-width:1024px){
header{
height:4vw;
width:98vw;
padding:1vw;
border-bottom:solid 1px black;
background-color:white;
z-index:4;
}

.logo{
height:70%;
display:inline-block;
}

.rantijr-logo{
height:100%;
}

.float-sol{
float:right;
height:100%;
}

.cart{
width:40vw;
height:100vh;
left:30vw;
border:solid 1px #03c3eb;
}

.icon{
height:60%;
margin-right:2vw;
display:inline-block;
position:relative;
text-align:center;
}

.shopping-cart{
height:100%;
}

.cart-num{
position:absolute;
top:0;
left:0;
background-color:red;
color:white;
font-size:0.7vw;
font-weight:bold;
height:1vw;
min-width:1vw;
text-align:center;
border-radius:0.35vw;
line-height:1vw;
}

.menu{
display:inline-block;
}

.container{
margin-top:6vw;
display:grid;
width:100vw;
grid-template-areas:'a a d d d d d d d d bp bp'
                    'a a d d d d d d d d bp bp'
                    'a a d d d d d d d d bp bp'
                    '. . d d d d d d d d bp bp'
                    'f f f f f f f f f f bp bp';
grid-auto-columns:9% 9% 8% 8% 8% 8% 8% 8% 8% 8% 9% 9%;
}

.aside1{
grid-area:a;
border-bottom:solid 1px #03c3eb;
border-right:solid 1px #03c3eb;

}

.search{
height:2vw;
margin-top:1vw;
margin-left:1vw;
}

.search-bar{
height:2vw;
width:12vw;
border:solid 1px #03c3eb;
}

.search-button{
height:1.8vw;
width:1.8vw;
background-color:#03c3eb;
display:inline-block;
vertical-align:middle;
padding:0.2vw;
}

.search-icon{
height:100%;
}

.pop-categories{
margin-left:1vw;
margin-top:1vw;
margin-bottom:1vw;
}

.pop-cat-heading{
font-size:1.7vw;
font-weight:bold;
margin:2vw 0;
}

.pop-cat-item{
margin:0.3vw 0;
color:#332c4a;
}

.banner-ad{
grid-area:b;
}

.banner-ad-desktop{
width:100%;
}

.banner-ad-mobile{
display:none;
}

.drugs-by-category{
grid-area:d;
width:100%;
margin-top:3vw;
}

.category-set{
width:90%;
margin:5vw auto 0 auto;
}

.category-name{
font-size:1vw;
font-weight:bolder;
}

.drugs{
position:relative;
}

.drug{
width:9.1vw;
height:11.05vw;
display:inline-block;
background-color:#fefefe;
}

.drug-photo{
width:5.525vw;
height:5.525vw;
margin:0.325vw auto 0 auto;
}

.drug-img{
width:100%;
}

.drug-name{
font-size:0.975vw;
text-align:center;
}

.drug-price{
font-size:0.8125vw;
text-align:center;
}

.order-button{
font-size:0.8125vw;
text-align:center;
width:6.175vw;
height:1.2025vw;
line-height:1.2025vw;
margin:0.25vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}

.add-to-cart{
font-size:0.8125vw;
text-align:center;
width:6.175vw;
height:1.2025vw;
line-height:1.2025vw;
margin:0.25vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}

.blog-posts{
grid-area:bp;
background-color:#03c3eb;
color:white;
}

.blog-post{
display:inline-block;
width:12vw;
height:10vw;
border:solid 1px #03c3eb;
margin:1vw;
background-color:#03c3eb10;
}

.post{
width:100%;
}

.post-image{
width:100%;
}

.post-name{
font-size:1vw;
}

.read-article{
color:#black;
font-weight:bold;
}

.faq{
grid-area:f;
}

.qas{
width:70vw;
margin:2vw auto 0 auto;
border:solid 1px #03c3eb;
box-shadow:0 0 1px 1px #cccccc;
}

.qa{
padding:1vw;
border-bottom:solid 1px #03c3eb;
}

.q{
font-size:1.2rem;
font-weight:bold;
color:#03c3eb;
}

.a{
margin-top:1vw;
display:none;
}

.dropdown{
float:right;
margin-right:5vw;
cursor:pointer;
}
.faq-heading{
margin-left:5vw;
margin-top:5vw;
font-size:1.5rem;
font-weight:bolder;
}


footer{
background-color:black;
text-align:center;
color:white;
}

.footer-content{
padding:2vw;
}

.name{
margin:3vw auto 0 auto;
width:20vw;
}

.image-name{
width:100%;
}

.social{
margin-top:1vw;
}

.facebook{
display:inline-block;
width:4vw;
margin:0 1vw;
}

.social-name{
width:100%;
}

.added, .msg{
padding:1vw;
position:fixed;
top:40vh;
left:39vw;
width:20vw;
background-color:white;
border:solid 1px #03c3eb;

}

.close-added, .close-msg{
font-size:0.8125vw;
text-align:center;
width:6.175vw;
height:1.2025vw;
line-height:1.2025vw;
margin:0.25vw auto 0 auto;
background-color:#03c3eb;
color:white;
cursor:pointer;
}
}


